{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skibidi Traffic - Intersection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/create2.css' %}?v={{ timestamp }}">
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></li>
            
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
            <li><a href="{% url 'profile' %}">My account</a></li>
            <li><a href="{% url 'aboutus' %}">About us</a></li>
        </ul>
        <ul>
            {% load static %}
            <li><a href="{% url 'home' %}"><img id = "logo" src="{% static 'images/logo.jpg' %}" alt="SkibidiTraffic"></a></li>
            <li class="hideOnMobile"><a href="{% url 'home' %}">Home</a></li>
            <li class="hideOnMobile"><a href="{% url 'game' %}">Play</a> </li>
            <li class="hideOnMobile"><a href="{% url 'create' %}">Create</a> </li>
            {% if user.is_authenticated %}
                <li class="hideOnMobile"><a href="{% url 'profile' %}">My account</a></li>
                <li class="hideOnMobile"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="hideOnMobile"><a href="{% url 'login' %}">Login</a></li>
                <li class="hideOnMobile"><a href="{% url 'signup' %}">Sign up</a></li>
            {% endif %}

            <li class="hideOnMobile"><a href="{% url 'aboutus' %}">About us</a></li>
            <li class="menu-button"onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>
    
    <div class="behind_navbar hideOnMobile">

    </div>

    <div id="drawing_container">
        <div id="sidebar">
            <div id="title_sidebar">Panou de control <br> adaugare elemente</div>
            <div id="butoane_elemente">
                <div class="item" ><img src="{% static 'images/roads_icons/intersectie.png' %}" alt=""></div>
                <div class="item" id="intersectieCustom">Intersectie custom</div>
                
                <div class="item" id="adaugaStradaBtn">Adauga strada</div>
                
                <button id="saveToJSON" type="button">💾 Salvează JSON</button>
                <button id="simuleazaTrafic" type="button">🚦 Simulează trafic</button>
                <button id = "loadImage" >Încarcă o imagine</button>
            </div>
            
            
        </div>

        <input type="file" id="imageLoader" accept="image/*" style="display:none" />
        <canvas id="canvas" ></canvas> 
        <div id="sidebar2">
            <div id="title_sidebar2">Panou de control <br> componente discrete</div>
            <div id="sectiuneIntersectie">Intersectie:</div>
            <div class="item2" id="lungimeLatura">
                <label for="lungimeLaturaInput">Lungime latura:</label>
                <input type="number" id="lungimeLaturaInput" min="1" step="10">
            </div>
            <div class="item2" id="unghiLaturaOx">
                <label for="unghiLaturaOxInput">∠ (latura, Ox):</label>
                <input type="number" id="unghiLaturaOxInput" min="0" max="360" step="1">
            </div>
            <div class="item2" id="unghiIntreLaturi">
                <label for="unghiIntreLaturiInput">∠ (lat', lat):</label>
                <input type="number" id="unghiIntreLaturiInput">
            </div>
            <div id="sectiuneStrada">Strada:</div>
            <div class="item2" id="laneControlsIN">
                <label for="">Nr. benzi IN:</label>
                <div class="butoaneBenzi">
                    <button id="btnIncrementeazaIn">+</button>
                    <button id="btnDecrementeazaIn">−</button>
                </div>
                
                
            </div>
            <div class="item2" id="laneControlsOUT">
                <label for="">Nr. benzi OUT:</label>
                <div class="butoaneBenzi">
                    <button id="btnIncrementeazaOUT">+</button>
                    <button id="btnDecrementeazaOUT">−</button>
                </div>
            </div>
            <div class="item2" id="punctConectareStradaPeLatura">
                <label for="pozitieConectareInput">Poziție pe latură:</label>
                <input type="number" id="pozitieConectareInput" step="0.01" min="0" max="1" value="0.5">
            </div>
            <div class="item2" id="lungimeStrada">
                <label for="inputLungimeStrada">Lungime (m):</label>
                <input type="number" id="inputLungimeStrada" min="5" max="500" step="0.5">
            </div>
            <div class="item2" id="trecerePietoni">
                <label for="checkboxTrecre">Trecere pietoni: </label>
                <input type="checkbox" id="checkboxTrecere">
            </div>
            <button class="item" id="btnDefineRoute">🛣️ Definește traseu</button>

        </div>

        
        
    </div>
    
    <footer>
        <p>© Skibidi Traffic 2025 - All rights reserved</p>
    </footer>

    {%load static%}
    <script type="module" src="{% static 'create.js' %}?v={{ timestamp }}"></script> 
</body>
</html>