{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skibidi Traffic - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/myaccount.css' %}">
    
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></li>
            
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
            <li><a href="{% url 'profile' %}">My account</a></li>
            <li><a href="{% url 'aboutus' %}">About us</a></li>
        </ul>
        <ul>
            {% load static %}
            <li><a href="{% url 'home' %}"><img id="logo" src="{% static 'images/logo.jpg' %}" alt="SkibidiTraffic"></a></li>
            <li class="hideOnMobile"><a href="{% url 'home' %}">Home</a></li>
            <li class="hideOnMobile"><a href="{% url 'game' %}">Play</a> </li>
            <li class="hideOnMobile"><a href="{% url 'create' %}">Create</a> </li>
            {% if user.is_authenticated %}
                <li class="hideOnMobile"><a href="{% url 'profile' %}">My account</a></li>
                <li class="hideOnMobile"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="hideOnMobile"><a href="{% url 'login' %}">Login</a></li>
                <li class="hideOnMobile"><a href="{% url 'signup' %}">Sign up</a></li>
            {% endif %}
            
            <li class="hideOnMobile"><a href="{% url 'aboutus' %}">About us</a></li>
            <li class="menu-button" onclick="showSidebar()">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f">
                        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                    </svg>
                </a>
            </li>
        </ul> 
    </nav>
    <div class="behind_navbar hideOnMobile">

    </div>
    <div class="container-profile-page">
            {% load static %}
            <div class="user-info">
                <img src="{% static 'images\no_profile_pic.jpg' %}" alt="">
                <div id="username" class="user-info-item">{{ request.user.username }}</div>
                <div id="nume-prenume" class="user-info-item">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                <div id="email" class="user-info-item">{{ request.user.email }}</div>
            
            <a href="{% url 'logout' %}" class="btn logout-btn">Logout</a>
            <a href="{% url 'changepassword' %}" class="btn change-password-btn">Change Password</a>


        </div>
        <div class="not-user-info">
            <div class="welcome">
                <!--<h1>S<span>k</span>i<span>b</span>i<span>d</span>i Traffic</h1>-->
                <h1><span>S</span>k<span>i</span>b<span>i</span>d<span>i</span> Traffic</h1>
                <h3>Welcome, {{ request.user.username }}!</h3>
            </div>
        
            <div class="intersectii">
                
                <h3 id="explore">Here is where you can create and save your work!</h3>
                <div class="intersectii-cards">
                    {% for intersectie in intersectii %}
                        <div class="card">
                            <a href="{% url 'create' %}?id={{ intersectie.id }}" style="display: flex;flex-direction: column;justify-content:center;align-items:center;text-decoration: none;">
                                {% load static %}
                                <img class="img_card" src="{% static 'images/test_intersectie_negru.jpg' %}" style="max-width: 90%;border-radius: 50%;">
                                <p>{{ intersectie.nume }}</p>
                            </a>
                        </div>
                    {% empty %}
                        <p>Nu ai salvat încă nicio intersecție.</p>
                    {% endfor %}

                    {% comment %} <div class="card">
                        <!--de rezolvat!!!!-->
                        {% load static %}
                        <img src="{% static 'images/test_intersectie_negru.jpg' %}">
                        <p>Piata Romana</p>
                        
                    </div>
                    
                    <div class="card">
                        {% load static %}
                        <img src="{% static 'images/test_intersectie_negru.jpg' %}">
                        <p>Custom</p>
                    </div>

                    <div class="card">
                        {% load static %}
                        <img src="{% static 'images/test_intersectie_negru.jpg' %}">
                        <p>Custom</p>
                    </div>
                    <div class="card">
                        {% load static %}
                        <img src="{% static 'images/test_intersectie_negru.jpg' %}">
                        <p>Custom</p>
                    </div>
                    <div class="card">
                        {% load static %}
                        <img src="{% static 'images/test_intersectie_negru.jpg' %}">
                        <p>Custom</p>
                    </div>
                    <div class="card">
                        {% load static %}
                        <img src="{% static 'images/test_intersectie_negru.jpg' %}">
                        <p>Custom</p>
                    </div>
                    <div class="card">
                        {% load static %}
                        <img src="{% static 'images/test_intersectie_negru.jpg' %}">
                        <p>Custom</p>
                    </div>
                    <div class="card">
                        {% load static %}
                        <img src="{% static 'images/test_intersectie_negru.jpg' %}">
                        <p>Custom</p>
                    </div> {% endcomment %}
                </div>
            </div> 
            
        </div>
        
    </div>

    
    <footer>
        <p>© Skibidi Traffic 2025 - All rights reserved</p>
    </footer>


    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }

        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>
</body>
</html>