
body{
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background-color:rgb(84, 133, 183);*/
    /*background-color:rgb(24, 78, 87);*/
    /*background-color:rgba(0, 87, 113, 0.25);*/

    background-image: url('/static/images/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    backdrop-filter: blur(2px);
    min-height:100vh;
    
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), 
    url('/static/images/pexels-rudy-cummings-495875188-22626877.jpg') center/cover no-repeat;

    /*background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.2)), 
    url('/static/images/image.png') center/cover no-repeat;*/
    
    position:relative;
    max-width:100%;
    overflow-x:hidden;
}




footer{
    /*position:fixed;*/
    width:100%;
    background-color: #1E1E2E;
    height: 60px;
    bottom: 0px;
    color:white;
    
    display:flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    bottom: 0;
}

#logo{
    max-height: 100%;
}


.container-signup-page{
    display:flex;
    max-width:100%;
    min-height:87vh;
    justify-content: center;

}
.form{
    width:30%;
    display:flex;
    flex-direction: column;
    
    align-items: center;
}
.form > img{
    margin-top:30px;
    width: 70%;
}
form{
    background-color: blue;
    margin: 30px 0 30px 0;
    width:100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-name{
    margin-top:20px;
    margin-bottom:40px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.form-name > span{
    color:#0097B2
}
form > .camp{
    padding: 0 0 0 40px;
    font-size: 20px;
    margin-bottom: 20px;
}
form > .button-container{
    margin-top: 10px;
    margin-bottom: 15px;
    display:flex;
    justify-content: center;
}
form > .button-container > button{
    width: 120px;
    background-color: #0097B2;
    border: none;
    height:40px;
    border-radius: 50px;
    font-size: 17px;
    
}

form > .button-container > button:hover{
    cursor:pointer;
    background-color: rgb(0, 194, 228);
}

.pub{
    width:33%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:whitesmoke;
    gap: 10px;
    
}
.pub-content{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.pub > .pub-content > img{
    margin-top:12px;
    width:200px;
    border-radius:50%;
}

.pub2 > .pub-content >img{
    margin-top:12px;
    width:200px;
}

.pub2{
    width:33%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:whitesmoke;
    gap: 10px;
    align-items: flex-end;
}
.behind_navbar{
    height: 70px;
    width:100%;
}
