body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #333;
  color: #fff;
}

.app {
  display: flex;
  height: 100vh;
  font-family: inherit;
  background-color: #2C3E50;
}

.toolbar {
  width: 250px;
  background: #1e1e1e;
  padding: 20px;
  overflow-y: auto;
  border-right: 2px solid #444;
}

.tool-block {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
  background-color: rgba(255,255,255,0.02);
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.05);
}

.tool-block h4 {
  margin: 5px 0 10px 0;
  color: #f0f0f0;
  font-size: 16px;
}

.tool-block label {
  display: block;
  font-size: 13px;
  margin: 5px 0;
  color: #ccc;
}

.tool-block input {
  width: 100%;
  padding: 6px;
  margin-top: 3px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #444;
  color: white;
}

.tool-block button {
  width: 100%;
  padding: 8px;
  background-color: #0097B2;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.tool-block button:hover {
  background-color: #007a90;
}

.tool-block button.active {
  background: #00bfff;
  color: #fff;
  box-shadow: 0 0 10px #00bfff;
}

.canvas-container {
  flex: 1;
  background: #4e4e4e;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

.flux-panel {
  width: 250px;
  background: #1e1e1e;
  padding: 20px;
  overflow-y: auto;
  border-left: 2px solid #444;
}

.flux-panel h2 {
  color: #00bfff;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px #000;
}

.flux-block {
  margin-bottom: 20px;
  border-bottom: 1px solid #555;
  padding-bottom: 15px;
}

.flux-block label {
  font-size: 14px;
  color: #ccc;
  display: block;
  margin-bottom: 5px;
}

input[type="range"] {
  width: 100%;
  accent-color: #00bfff;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
